<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New User</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a href="/">Home</a>
        <a href="/create" class="active">Create New user</a>
    </div>
    <div class="box">
        <form action="/create-user" method="post" class="form">
            <label for="">Add New User</label>
            <div class="email box_item" id="email">
                <label for="email">
                    Email:
                </label>
                <input type="text" name="email" required>
            </div>
            <div class="name box_item" id="name">
                <label for="name">
                    Name:
                </label>
                <input type="text" name="name" required>
            </div>
            <div class="city box_item" id="city">
                <label for="city">
                    City:
                </label>
                <input type="text" name="city" required>
            </div>
            <button>Save</button>
        </form>
    </div>
</body>

</html>